@import url('https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css');

/* Body background and default font */
body {
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif; /* Default font is Montserrat */
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between; /* Membagi space antara kiri dan kanan */
    padding: 1.5rem;
    align-items: center;
}

.navbar-left {
    flex: 1;
    font-weight: bold;
}

.navbar-left span {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
}

/* Navbar kanan - Links */
.navbar-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.navbar-right a {
    color: white;
    font-size: 1rem;
    margin-left: 2rem;
}

.navbar-right a:hover {
    color: #b0b0b0;
}

/* Main Section */
.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.main-section h1 {
    font-size: 2.5rem;
    color: white;
}

.highlighted-text {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 6rem;
    font-weight: bold;
    margin-top: 1rem;
    color: white;
}

.typewriter {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 1s steps(40, end);
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: white;
    }
}

/* Featured Works Section */
.featured-works {
    padding: 3rem;
    color: white;
}

.featured-works h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
    padding: 2rem;
}

.works-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem;
}

@media (min-width: 768px) {
    .works-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}


.work-item:hover {
    background-color: #585757;
}

.work-image {
    width: 100%;
    height: 16rem;
    border-radius: 3%;

}

.work-item h3 {
    font-size: 1.5rem;
    margin-top: 2rem;
}

.work-item p {
    margin-top: 0.5rem;
}

.work-image {
    width: 100%;
    height: auto;
}


.work-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.work-item {
    position: relative;
    padding: 1.5rem;
    border-radius: 5%;
    overflow: hidden;
}

.work-image img {
    display: block;
    max-width: 100%;
    height: auto;
    pointer-events: none;
}

.work-text {
    position: relative;
    z-index: 2;
}

.learn-more-link {
    color: #1E90FF;
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
    z-index: 3;
    position: relative;
}

.learn-more-link:hover {
    color: #87CEFA;
}

/* About Section */
.about-section {
    padding: 5rem;
}

.about-section h2{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 3rem;
}


.about-container {
    display: flex;
    flex-direction: row;
}

.about-image img {
    max-width: 350px;
    border-radius: 10%;
}

.about-description {
    margin-left: 5rem;
    margin-bottom: 5rem;
}


.about-description p{
    margin-left: 2rem;
    margin-bottom: 4rem;
}

.rounded-button {
    background-color: #2D2D2D;
    color: white;
    border: none;
    padding-block: 1rem;
    padding-inline: 3rem;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 2rem;
}

.rounded-button:hover {
    background-color: #575757;
}

/* Skills Section */
.skills-section {
    padding: 4rem;
}

.skills-section h2{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.skills-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skill-item {
    background-color: #2D2D2D;
    padding: 1rem;
    border-radius: 10px;
    margin: 0.5rem;
    transition: transform 0.2s ease;
}

.skill-item:hover {
    transform: scale(1.05);
}

/* Contact Section */
.contact-section {
    text-align: center;
    padding: 3rem;
}

.contact-section h2{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2rem;
    padding: 9rem;
}

.social-media-icons {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.social-media-icons a {
    display: inline-flex;
    background-color: #2D2D2D;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    border-radius: 50%;
    margin: 0 1rem;
    transition: transform 0.2s ease;
}

.social-media-icons a:hover {
    transform: scale(1.2) translateY(-5px);
    background-color: #585757;
}